@charset "UTF-8";

/* 
Paleta de cores
preto: #080600
Laranja: #F2AC00
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color:rgba(0, 0, 0, 0.685);
    height: 100vh;
    width: 100vw; 
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: #F2AC00;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/Boleiros.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario >p{
    font-size: 0.8em;
}


form#login > input {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 2px;
    background-color: #fff59c;
    border: 1px solid #926900;
    border-radius: 5px;
    cursor: pointer;
}

form#login >input:hover{
    background-color: #696969;
}

form> a.botao{
    color: black;
    text-align: center;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 2px;
    margin-top: 5px;
    background-color: #fff59c;
    border: 1px solid #926900;
    border-radius: 5px;
    text-decoration: none;
}
form a.botao > span{
    font-size: 0.8em;  
}

form > a.botao:hover{
    background-color: #696969;
}

